@charset "utf-8";

body {
  background-image: linear-gradient(to bottom right, #5eb4cb, #71bdd2, #85c6d8, #98cfed);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#paint {
  display: none;
}

#image-wrapper {
  position: relative;
  max-height: 24%;
  max-width: 60%;
  top: 28%;
  left: 28%;
}

.img-box {
  margin: 4%;
  border: 1px solid #8884;
  padding: 8px;
  border-radius: 1%;
  box-shadow: 2px 5px 5px #ccc;
  display: inline-block;
  background-color: #efefef;
  position: absolute;
  /* transition: transform 1.5s ease-out; */
}

::selection {
  background-color: #4fa5df;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #535353;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ededed;
}