@charset "utf-8";

body {
  background-image: linear-gradient(to bottom right, #5eb4cb, #71bdd2, #85c6d8, #98cfed);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#paint {
  display: none;
}

#image-wrapper {
  max-width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.img-box {
  margin: 0%;
  border: 1px solid #8884;
  padding: 4px;
  border-radius: 1%;
  box-shadow: 2px 5px 5px #ccc;
  display: inline-block;
  background-color: #efefef;
  transform: scale(0.8);
  transition: transform .5s ease-out;
}

.img-box:hover {
  z-index: 1000;
  transform: rotate(0deg) scale(1);
}

::selection {
  background-color: #4fa5df;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #535353;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ededed;
}